@{
    ViewBag.Titulo = "Fin";

    @if (ViewBag.PuntajeActual < 0)
        ViewBag.ReaccionPuntaje = "Damn... Pasa.";
    else if (ViewBag.PuntajeActual == 0)
        ViewBag.ReaccionPuntaje = "Se puede remontar.";
    else
        ViewBag.ReaccionPuntaje = ":D";
}

<div class="container text-white @if (ViewBag.Perdido) { <text>bg-dark</text> } else { <text>bg-warning</text> }">
    @if (ViewBag.Perdido)
    {
        <div class="textoFin"><h1>Se te acabó el tiempo, @ViewBag.Username...</h1></div>
        <img class="img-fluid" src="~/img/Fin/BadEnding.png" alt="Foto de Bad Ending">
    }
    else
    {
        <div class="textoFin"><h1>@ViewBag.Username, ganaste. Ganador.</h1></div>
        <img class="img-fluid" src="~/img/Fin/GoodEnding.jpg" alt="Foto de Good Ending">
        <script src="~/lib/js-confetti/maine7d53e92d01973c6b7ed.js"></script>
        <script>const jsConfetti = new JSConfetti(); jsConfetti.addConfetti()</script>
    }
    <p class="text-center fs-3">Terminaste con @ViewBag.PuntajeActual ₧. @ViewBag.ReaccionPuntaje</p>
    <p><a class="btn" href="@Url.Action("ConfigurarJuego")">↻ Reiniciar</a></p>
</div>