@{
    ViewBag.Titulo = "Jugar";
}
@if (ViewBag.Categorias != null)
{
    <div id="ruleta">
        <div></div>
        <button id="ruletaBoton" onclick="girarA(@ViewBag.PosProximaCategoria + 1);"></button>
        <canvas
            id="ruletaCanvas"
            width="600" height="600"
            data-responsiveMinWidth="768px"
            data-responsiveScaleHeight="true">
                Canvas not supported, use another browser.
        </canvas>
    </div>
    <div id="categoriaElegida" class="position-absolute top-0 start-0">
        <h2>@ViewBag.ProximaCategoria.Nombre</h2>
        <div>
            <img src="~/img/CategoriaElegida.bmp" alt="Foto de Carlos mirando la categoria elegida">
            @if (ViewBag.ProximaCategoria.Foto != null)
            {
                <img src="@ViewBag.ProximaCategoria.Foto" alt="Icono de @ViewBag.ProximaCategoria.Nombre">
            }
            else
            {
                <img src="~/img/placeholder.bmp" alt="Placeholder">
            }
        </div>
    </div>
}
<div id="pregunta" class="container">
  <div class="card">
        @if (ViewBag.ProximaPregunta.Foto != null)
        {
            <img src="@ViewBag.ProximaPregunta.Foto" class="card-img-top" alt="Foto de la pregunta">
        }
        <div class="card-body">
            <h5 class="card-title">@ViewBag.ProximaPregunta.Enunciado</h5>
        </div>
    </div>
    <form class="needs-validation" method="POST" action="@Url.Action("VerificarRespuesta")" novalidate>
        <input type="hidden" name="idPregunta" value="@ViewBag.ProximaPregunta.IdPregunta">
        <div class="mb-3">
            <div class="row row-cols-lg-3">
                @if (ViewBag.ProximasRespuestas.Count > 0)
                {
                    foreach (Respuesta respuesta in ViewBag.ProximasRespuestas)
                    {
                        <div class="form-check">
                            <input type="radio" class="form-check-input" id="respuesta-@respuesta.Opcion" name="idRespuesta" value="@respuesta.IdRespuesta" required>
                            <label class="form-check-label" for="respuesta-@respuesta.Opcion">
                                @if (respuesta.Foto != null)
                                {
                                    <img src="@respuesta.Foto" alt="Foto de @respuesta.Contenido">
                                }
                                <span>@respuesta.Contenido</span>
                            </label>
                        </div>
                    }
                    <p class="invalid-feedback">Seleccione una categoría.</p>
                }
                else
                {
                    <p class="text-secondary">¿No hay respuestas?</p>
                }
            </div>
        </div>
        <div>
            <input class="btn btn-primary" type="submit" value="Comprobar">
        </div>
    </form>
</div>
@if (ViewBag.Categorias != null)
{
    <script src="~/lib/winwheel/Winwheel.min.js"></script>
    <script src="~/lib/TweenMax.min.js"></script>
    <script>
        const segments = [
            @foreach (Categoria categoria in ViewBag.Categorias)
            {
                <text>{"image": "/img/ruleta/</text><text>@categoria.IdCategoria</text><text>.png", "text": "@categoria.Nombre"},</text>
            }
        ];
    </script>
    <script src="~/js/Juego.js"></script>
}
