@{
    if (ViewBag.Respuesta == true)
        ViewBag.Mensaje = "Enhorabuena";
    else
        ViewBag.Mensaje = "Segui participando";

    ViewBag.Titulo = ViewBag.Mensaje;
    ViewBag.Estilo = $"body {{ background: #{ViewBag.ColorCategoria}; }}";
}

<a class="btn btnFlotante" href="@Url.Action("ConfigurarJuego")">&larr; Reiniciar Partida</a>

<div id="pregunta" class="container @if (ViewBag.Correcta) { <text>correcta text-light bg-success</text> } else { <text>incorrecta text-light bg-danger</text> }">
    <div class="card @if (ViewBag.Correcta) { <text>bg-success</text> } else { <text>bg-danger</text> }">
        @if (ViewBag.ProximaPregunta.Foto != null)
        {
            <img src="@ViewBag.ProximaPregunta.Foto" class="card-img-top" alt="Foto de la pregunta">
        }
        <div class="card-body">
            <h1 class="card-title fs-3">@ViewBag.ProximaPregunta.Enunciado</h1>
            @if (ViewBag.Correcta)
            {
                <p class="card-text">@ViewBag.Mensaje</p>
            }
            else
            {
                <p class="card-text">@ViewBag.Mensaje<text>.</text> Era "@ViewBag.RespuestaReal.Contenido"</p>
            }
        </div>
    </div>
    <div>
        <div class="mb-3">
            @if (ViewBag.ProximasRespuestas.Count > 0)
            {
                foreach (Respuesta respuesta in ViewBag.ProximasRespuestas)
                {
                    <p class="btn disabled @if (respuesta.Correcta) { <text>bg-success</text> } else if (ViewBag.IdRespuestaDada == respuesta.IdRespuesta) { <text>bg-danger</text> } else { <text>bg-white text-black</text> } ">
                        @if (respuesta.Foto != null)
                        {
                            <img src="@respuesta.Foto" alt="Foto de @respuesta.Contenido">
                        }
                        <span>@respuesta.Contenido</span>
                    </p>
                }
            }
            else
            {
                <p class="text-secondary">¿No hay respuestas?</p>
            }
        </div>
        <div class="row align-items-center">
            <p class="col text-start">Puntaje actual: @ViewBag.PuntajeActual ₧</p>
            <p class="col text-end"><a class="btn" href="@Url.Action("Jugar")">Siguiente pregunta</a></p>
        </div>
    </div>
</div>