@{
    if (ViewBag.Respuesta == true)
        ViewBag.Mensaje = "Tu respuesta es correcta";
    else
        ViewBag.Mensaje = "Segui participando";

    ViewBag.Titulo = ViewBag.Mensaje;
}

<a class="btn reiniciarPartida" href="@Url.Action("ConfigurarJuego")">&larr; Reiniciar Partida</a>

<div id="pregunta" class="container @if (ViewBag.Respuesta) { <text>correcta text-light bg-success</text> } else { <text>incorrecta text-light bg-danger</text> } ">
    <div class="card">
        @if (ViewBag.ProximaPregunta.Foto != null)
        {
            <img src="@ViewBag.ProximaPregunta.Foto" class="card-img-top" alt="Foto de la pregunta">
        }
        <div class="card-body">
            <h1 class="card-title">@ViewBag.ProximaPregunta.Enunciado</h1>
            @if (ViewBag.Respuesta)
            {
                <p class="card-text">@ViewBag.Mensaje</p>
            }
            else
            {
                <p class="card-text">@ViewBag.Mensaje<text>.</text> Era "@ViewBag.Correcta"</p>
            }
        </div>
    </div>
    <div>
        <div>
            @if (ViewBag.ProximasRespuestas.Count > 0)
            {
                foreach (Respuesta respuesta in ViewBag.ProximasRespuestas)
                {
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="respuesta-@respuesta.Opcion" name="idRespuesta" value="@respuesta.IdRespuesta" required>
                        <label class="form-check-label" for="respuesta-@respuesta.Opcion">
                            @if (respuesta.Foto != null)
                            {
                                <img src="@respuesta.Foto" alt="Foto de @respuesta.Contenido">
                            }
                            <span>@respuesta.Contenido</span>
                        </label>
                    </div>
                }
                <p class="invalid-feedback">Seleccione una categoría.</p>
            }
            else
            {
                <p class="text-secondary">¿No hay respuestas?</p>
            }
        </div>
        <p><a class="btn" href="@Url.Action("Jugar")">Siguiente pregunta</a></p>
    </div>
</div>